@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: antiquewhite;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'ABeeZee', sans-serif;
}

.background {
  width: 1205px;
  height: 1156px;
  background-color: white;
  margin: 0;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 40px 40px;
}

.button {
  padding: 20px 40px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  border: none;
}

.button1 {
  background-color: #017187;
}

.button2 {
  background-color: rgba(92, 1, 135, 0.71);
}

.button3 {
  background-color: rgba(135, 17, 1, 0.56);
}

.button4 {
  background-color: rgba(1, 135, 14, 0.63);
}

.button5 {
  background-color: #E2CF22;
}

.button6 {
  background-color: #011E87;
}

.button7 {
  background-color: #18D5E1;
}

.square-wrapper {
  display: flex;
  gap: 80px 30px;
  margin: 70px 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.square {
  width: 300px;
  height: 300px;
  background-color: #1FC2AE;
  border-radius: 4px;
  border: 1px solid #F1F1F1;
  box-shadow: 0px 0px 10px 0px (0, 0, 0, 0.10);
}

.square__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 56px;
  font-weight: 400;
  text-transform: uppercase;
}

.footer-wrapper {
  margin: 70px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__input {
  padding: 13px 15px 15px 15px;
  width: 200px;
  border-radius: 6px;
  border: 2px solid #E5E7EB;
  background-color: #FFF;
  font-size: 14px;
  color: #9CA3AF;
  font-family: 'Inter', sans-serif;
}

.footer__header {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #000;
}